#footer
  .container.text-center
    div
      | © 2014 TrashTeam.
    div
      strong Projet créé par &nbsp;
      | François, Guillaume, Pierre-Yves, Stan, Stéphane & William
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      |  ·
      a(href='https://github.com/sahat/hackathon-starter/issues')  Issues
