#footer
  .container.text-center
    div
      | © 2014 TrashTeam.
    div
      strong Projet créé par &nbsp;
      | François, Guillaume, Pierre-Yves, Stan, Stéphane & William
    div
      | Code sous licence
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/TrashTeam-hackaton/truc') Le projet sur GitHub
      |  ·
      a(href='https://github.com/TrashTeam-hackaton/truc/issues')  Problèmes, erreurs ?
